/**
*áttekintés
*
*base.css............globális szabályok
*components.css......komponensek saját CSS fájlja
*layout.css..........az elrendezések szabályai
*normalize.min.css...kibővített CSS reset
*/


/*Tartalomjegyzék
*
*Beállítások
*Box-sizing..........globális alapbeállítás
*Base font-size......az alapbetűméret megadása
*Margin..............Top és bottom margin globális értékek megadása
*Anchor..............Linkek alapbeállításai
*
*Tipográfia
*Headingek...........Tipográfiai stílusok
*/





/*-----------------------*\
#Beállítások
\*-----------------------*/
html {height: 100%;}

* {box-sizing: border-box;}

html { font-size:  14px;}

h2, h6,
p,
ul {
margin: 0;}

h2, h6 {
  margin-bottom: 1.6666vh; 
}


a {
  text-decoration:  none;
  cursor:           pointer;
}





/*-----------------------*\
#Tipográfia
\*-----------------------*/

body {
  color:        #211138;
  font-family:  'Montserrat', sans-serif;
}


h2 { font-size: 4.4444vh; }
