



.footer {
    background-color: #211138;
    font-family: 'Montserrat';
	font-weight: bold;
	font-size: 0.66rem;
    height: 11.11vh;
    width: 100%;
    letter-spacing: 0.14vw;
	color: #B2ACBA;
	text-transform: uppercase;
	line-height: 2.283vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    background-image: url(../assets/cover_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    opacity: 1;
    background-color: white;
    
}




