/**
 * TARTALOMJEGYZÉK
 *
 * ELRENDEZÉS
 * Elemek.................Magukra a containerekre vonatkozó méretszabályok.
 * Módosítók..............Az elrendezést módosító szabályok, pl. floatok.
 *
 * HELPEREK
 * Clearfix...............Floatolt containerekre hívható class.
 */





/*------------------------------------*\
#ELRENDEZÉS
\*------------------------------------*/

.width-100percent {
    width: 100vw;
}

.width_50percent {
    width: 50%;
}

.header_height {
    height: 8.88vh;
}

.height_wout_footer_header {
    height: 88.89vh;
}

.container2 {
    height: 88.89vh;
    }

.float_left {
    float: left;
}

.float_right {
    float: right;
    }





/*------------------------------------*\
#HELPEREK
\*------------------------------------*/

.clearfix:after {
  content:  "";
  display:  table;
  clear:    both;
}